* {
    font-family: "Noto Sans KR", Arial, sans-serif;
    font-size: 14px;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1e1e1e;
}

.contents {
    background-color: #1e1e1e;
    padding: 30px 20px;
}

.tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 30px;
    background-color: #1e1e1e;
    border-bottom: 2px solid #333;
    padding: 10px 0;

}

/* Firefox 전용 CSS */
@-moz-document url-prefix() {
    .tabs {
        scrollbar-width: thin;
        scrollbar-color: #0D6EFD #1a1a1a;
    }
}

/* Tabs 가로 스크롤바 */
.tabs::-webkit-scrollbar {
    height: 8px;
}

.tabs::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 5px;
}

.tabs::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
    border: 2px solid #1a1a1a;
}

.tabs::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.tab {
    border: 1.5px solid white;
    background-color: #1e1e1e;
    color: #eee;
    padding: 10px 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
}

.tab:hover {
    background-color: #343A40;
}

.tab.active {
    background-color: #3e3e3e;
    border-bottom: 3px solid #0D6EFD;
}

.tab-content {
    display: none;
    border: 1px solid #eee;
    color: #F8F9FA;
}

.tab-content.active {
    display: block;
}

h2,
h3 {
    color: #0D6EFD;
}

strong {
    color: #eee;
    font-weight: bold;
}

.project-explanation {
    flex: 1;
    padding: 20px;
    margin: 0 20px;
    align-content: center;
    max-height: 645px;
    overflow-y: auto;
}

.project-explanation > p {
    padding-left: 40px;
}

li::marker {
    color: #0DCAF0;
}

.evidence {
    flex: 1;
    max-height: 645px;
    margin-left: 20px;
    overflow-y: auto;
    align-content: center;
}

/* 코드, 이미지 스크롤 영역 */
.evidence::-webkit-scrollbar, .project-explanation::-webkit-scrollbar {
    width: 8px;
}

.evidence::-webkit-scrollbar-track, .project-explanation::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 5px;
}

.evidence::-webkit-scrollbar-thumb, .project-explanation::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
    border: 2px solid #1a1a1a;
}

.evidence::-webkit-scrollbar-thumb:hover, .project-explanation::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

code {
    white-space: break-spaces;
}

.swiper-wrapper .swiper-slide {
    display: flex;
    background-color: #333;
}

.swiper-slide {
    min-height: 680px;
}

.nextTabButton {
    display: none;
    position: absolute;
    z-index: 30;
    background: linear-gradient(135deg, #007aff, #00bfff);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 14px;
    color: #EEE;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    right: var(--swiper-navigation-sides-offset, 0px);
    top: 15px;
}

.prevTabButton {
    position: absolute;
    z-index: 30;
    background: linear-gradient(135deg, #007aff, #00bfff);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 14px;
    color: #EEE;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    top: 15px;
}

.nextTabButton:hover, .prevTabButton:hover {
    background: linear-gradient(135deg, #005bb5, #0099ff);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.controll-box {
    display: flex;
    position:relative;
    height: 100px;
    width: 20%;
    margin: 0 auto;
}